/* @font-face {
  font-family: "myFontRegular";
  src: url("./notosans-variablefont_wdthwght-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "myFontTitle";
  src: url("./rushsuckregular-x3dpj-webfont.woff2") format("woff2");
} */

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}