/* @font-face {
  font-family: "myFontRegular";
  src: url("./notosans-variablefont_wdthwght-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "myFontTitle";
  src: url("./rushsuckregular-x3dpj-webfont.woff2") format("woff2");
} */

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "player-side computer-side";
}

.player-side {
  grid-area: player-side;
  display: grid;
  grid-template-rows: 1fr min-content 1fr 1fr;
  grid-template-areas:
    "."
    "player-grid"
    "player-name" "player-panel";
  place-items: center;
}

.player-grid {
  grid-area: player-grid;
  display: grid;
  grid-template-columns: repeat(10, minmax(25px, 1fr));
  width: 600px;
  height: 600px;
}

.player-name,
.computer-name {
  font-size: 2rem;
  align-self: start;
  padding-top: 1rem;
}

.player-name {
  grid-area: player-name;
}

.player-panel {
  grid-area: player-panel;
  align-self: flex-start;
}

.grid-cell:nth-child(10n) {
  border-right: 1px solid black;
}

.grid-cell:nth-last-child(-n + 10) {
  border-bottom: 1px solid black;
}

.grid-cell {
  border-top: 1px solid black;
  border-left: 1px solid black;
  font-size: 3rem;
  text-align: center;
  height: 60px;
}

#randomize {
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  outline: none;
  cursor: pointer;
}

.computer-side {
  grid-area: computer-side;
  display: grid;
  grid-template-rows: 1fr min-content 1fr 1fr;
  grid-template-areas:
    "."
    "computer-grid"
    "computer-name" "computer-panel";
  place-items: center;
}

.computer-grid {
  grid-area: computer-grid;
  display: grid;
  grid-template-columns: repeat(10, minmax(25px, 1fr));
  width: 600px;
  height: 600px;
}

.computer-name {
  grid-area: computer-name;
}

.computer-panel {
  grid-area: computer-panel;
}

.icons {
  width: 35px;
  height: 35px;
}
